<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754551260926-pmsmuf2lqbn5d62k4i1m12lgf2n4lda3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754551260926-pmsmuf2lqbn5d62k4i1m12lgf2n4lda3</string>
	<key>API_KEY</key>
	<string>AIzaSyBgNa8Xy_HWKcNgz54vsb7RIPYyFzQFMKE</string>
	<key>GCM_SENDER_ID</key>
	<string>754551260926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cityProblems</string>
	<key>PROJECT_ID</key>
	<string>licenta-b9043</string>
	<key>STORAGE_BUCKET</key>
	<string>licenta-b9043.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754551260926:ios:fc0251a316c7ef14ff47af</string>
</dict>
</plist>